{% extends 'DGamesBundle::layout.html.twig' %}

{% block title %}Write an opinion{% endblock %}

{% block body %}
    <h1>{% trans %}Add an opinion to the game{% endtrans %} "{{ opinion.game.title }}"</h1>
    {% include 'DGamesBundle:Opinion:form.html.twig' with { 'form': form } %}
{% endblock %}
