{% extends 'DGamesBundle::layout.html.twig' %}

{% block title %}{% trans %}text.write{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}text.add{% endtrans %} "{{ opinion.game.title }}"</h1>
    {% include 'DGamesBundle:Opinion:form.html.twig' with { 'form': form } %}
{% endblock %}
