{{ form_start(form, {'action': path('d_games_opinion_create', { 'game_id' : opinion.game.id } ), 'method': 'POST', "class": "d_games"}) }}

{{ form_widget(form) }}

<p><input type="submit" value={% trans %}"Send"{% endtrans %}></p>

{{ form_end(form) }}
