{# src/DGamesBundle/Resources/views/Comment/list.html.twig #}

{% for opinion in opinions %}
    <div class="opinion" id="opinion-{{ opinion.id }}">
        <div class="user">
            <p class="username_text"><span class="highlight">{{ opinion.user }}</span></p>
            <p class="game_rate">{{ opinion.rate }}</p>
        </div>
        <div class="opinion_text">
        <p>{{ opinion.opinion }}</p>
        </div>
    </div>
{% else %}
    <p>{% trans %}text.no_opinions{% endtrans %}</p>
{% endfor %}
