{% extends "DGamesBundle::layout.html.twig" %}
{% block title %}{{news.title}}{% endblock %}
{% block body %}
    <h1>{{news.title}}</h1>
    <div class="date">Date: {{news.date.format("d-m-Y")}}</div>
    <div class="body">{{news.body}}</div>
{% endblock %}

{% block sidebar %}
	<h2>Related Games</h2>
	<div class="related" id="related_games">
		{% include 'DGamesBundle:Games:listTitles.html.twig' with { 'games': news.games } %}
	</div>
{% endblock %}